.indexbody {
background: url('indexbg1.gif');
background-size: cover;
}

.mainbody {
background: rgb(0, 0, 0);
}


/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 1%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}



/* The navigation title inside the overlay */
.overlay-title {
  padding: 3px;
  text-decoration: none;
  font-size: 150px;
  color: white;
  font-family: 'Suez One', serif;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}



/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 36px;
  color: white;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 2px;
  right: 15px;
  font-size: 70px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding-right: 5px;
  width: 100%;
  height: 150px;
  border: inset black;
  text-align: right;
  font-size: 80px;
  word-break: break-all;
  font-family: 'Suez One', serif;
  }

  img {
  border: 2px solid black;
  margin-left: 15px;
  }


.active, .collapsible:hover {
  background-color: #cca300;
}
.content {

  padding: 0 10px;
  display: none;
  border: ridge black;
  overflow: hidden;
  font-size: 15px;
  background-color: Gold;
  text-align: right;
  font-family: 'Suez One', serif;
}


.menubutton {
background-color: rgba(0,0,0, 0.3);
float: left;
padding-top: 5px;
border: black solid;
top: 10px;
width: 70px;
height: 70px;
color: white;
text-align: center;
font-size: 40px;
z-index: 2;

}

.menubutton:hover {
 color: black;

}


.menubutton_index_page {
background: linear-gradient(grey, white);
padding-top: 50px;
border: black solid;
width: 320px;
height: 140px;
color: white;
font-size: 70px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
border-radius: 5%;
font-family: 'Suez One', serif;
}


.menu1 {
background: url("first.jpg");
background-size: cover;
height: 7%;
font-size: 50px;
}

.menu2 {
background-image: url("main3.jpg");
background-size: cover;
height: 7%;

}

.menu3 {
background-image: url("salad.jpg");
background-size: cover;
height: 7%;
}

.menu4 {
background-image: url("dressing.jpg");
background-size: cover;
height: 7%;
}

.menu5 {
background-image: url("soup.jpg");
background-size: cover;
height: 7%;
}


.menu6 {
background-image: url("bake.jpg");
background-size: cover;
height: 7%;
}

a:hover {
font-size: 120px;
font-style: bold;
}



a.menu1{
  font-size: 100px;
}
a.menu1:hover{
  font-size: 120px;
  font-style: bold;
  height: 12%;
}

a.menu2{
  font-size: 100px;
}
a.menu2:hover{
  font-size: 120px;
  font-style: bold;
  height: 12%;
}

a.menu3{
  font-size: 100px;
}
a.menu3:hover{
  font-size: 120px;
  font-style: bold;
  height: 12%;
}

a.menu4{
  font-size: 100px;
}
a.menu4:hover{
  font-size: 120px;
  font-style: bold;
  height: 12%;
}

a.menu5{
  font-size: 100px;
}
a.menu5:hover{
  font-size: 120px;
  font-style: bold;
  height: 12%;
}

a.menu6{
  font-size: 100px;
}
a.menu6:hover{
  font-size: 120px;
  font-style: bold;
  height: 12%;
}

.title_main {
color: white;
z-index: 1;
width: 100%;
font-size: 80px;
font-family: 'Suez One', serif;
background-image: url("main3.jpg");
background-size: cover;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.title_bake {
color: white;
z-index: 1;
width: 100%;
font-size: 80px;
font-family: 'Suez One', serif;
background-image: url("bake.jpg");
background-size: cover;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.title_soup {
color: white;
z-index: 1;
width: 100%;
font-size: 80px;
font-family: 'Suez One', serif;
background-image: url("soup.jpg");
background-size: cover;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.title_dressing {
color: white;
z-index: 1;
width: 100%;
font-size: 80px;
font-family: 'Suez One', serif;
background-image: url("dressing.jpg");
background-size: cover;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}





.index::first-line {
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
font-size: 55px;
top: 25%;
font-family: 'Suez One', serif;
}


.index {
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
font-size: 110px;
padding-top: 170px;
top: 25%;
font-family: 'Suez One', serif;
}
